<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Trabalho 1 de Pesquisa Operacional 2
      </h1>
    </div>
  </div>
</section>
<div class="paddir">
  <div class="content">
    <h1>Sobre o Trabalho</h1>
    <h2>Ferramentas utilizadas</h2>
    <div class="columns">
      <div class="column">
        <img src="./img/electron-logo.png"/>
        <h3>Electron</h3>
      </div>
      <div class="column">
        <img src="./img/angular-logo.png"/>
        <h3>Angular</h3>
      </div>
      <div class="column">
        <img src="./img/bulma-logo.png"/>
        <h3>Bulma</h3>
      </div>
    </div>

    <h2>Equipe</h2>
    <div class="columns">
      <div class="column">
        <img src="./img/fred-photo.jpg"/>
        <h3>Frederico Gomes</h3>
        <p>
          RA 151021317
        </p>
      </div>
      <div class="column">
        <img src="./img/pedro-photo.jpg"/>
        <h3>Pedro Munhoz</h3>
        <p>
          RA 151021261
        </p>
      </div>
    </div>
  </div>
</div>
